<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	   <parameter name="Email" value="nakadedarshana28@gmail.com"></parameter>
  <parameter name="Password" value="Darshana@2001"></parameter>
    <classes>
      <class name="assignment.Task"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
